{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}


{% block page_checkout_confirm_shipping_current %}
    <form id="confirmShippingForm"
          name="confirmShippingForm"
          action="{{ path('frontend.checkout.configure') }}"
          data-form-csrf-handler="true"
          method="post">

        {% block page_checkout_confirm_shipping_form_csrf %}
            {{ sw_csrf('frontend.checkout.configure') }}
        {% endblock %}

        {% block page_checkout_confirm_shipping_form_redirect %}
            <input type="hidden" name="redirectTo" value="frontend.checkout.confirm.page">
        {% endblock %}

        {% block page_checkout_confirm_shipping_form_fields %}
            <div class="confirm-shipping-fields">
                {% for shipping in page.shippingMethods %}
                    <div class="confirm-shipping-method">
                        {% block page_checkout_confirm_shipping_form_field %}
                            <div class="form-group checkout-config-form-group">
                                {% block page_checkout_confirm_shipping_form_control %}
                                    <div class="custom-control custom-radio confirm-shipping-method-radio">
                                        {% block page_checkout_confirm_shipping_form_input %}
                                            <input type="radio"
                                                   id="shippingMethod{{ loop.index }}"
                                                   name="shippingMethodId"
                                                   value="{{ shipping.id }}"
                                                   {% if shipping.id is same as(context.shippingMethod.id) %}checked="checked"{% endif %}
                                                   class="custom-control-input shipping-method-input" onclick="$('#confirmShippingForm').submit()">
                                        {% endblock %}

                                        {% block page_checkout_confirm_shipping_form_label %}
                                            <label class="custom-control-label shipping-method-label"
                                                   for="shippingMethod{{ loop.index }}">

                                                {% block page_checkout_confirm_shipping_form_image %}
                                                    {% if shipping.media %}
                                                        {% sw_thumbnails 'confirm-shipping-image-thumbnails' with {
                                                            media: shipping.media,
                                                            sizes: {
                                                                'default': '100px'
                                                            },
                                                            attributes: {
                                                                'class': 'confirm-shipping-method-image',
                                                                'alt': (shipping.media.translated.alt ?: shipping.translated.name),
                                                                'title': (shipping.media.translated.title ?: shipping.translated.name)
                                                            }
                                                        } %}
                                                    {% endif %}
                                                {% endblock %}

                                                {% block page_checkout_confirm_shipping_form_description %}
                                                    <div class="shipping-method-description">
                                                        <strong>{{ shipping.translated.name }}</strong>
                                                        {% if shipping.translated.description %}
                                                            <p>{{ shipping.translated.description|raw }}</p>
                                                        {% endif %}
                                                    </div>
                                                {% endblock %}
                                            </label>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block page_checkout_confirm_shipping_modal_toggle %}

{% endblock %}
