{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}


{% block page_checkout_confirm %}
    {% block page_checkout_confirm_header %}
        {{ parent() }}
    {% endblock %}

    {% block page_checkout_confirm_alerts %}
        {{ parent() }}
    {% endblock %}

    {% block page_checkout_confirm_address %}
        {{ parent() }}
    {% endblock %}

    {% block page_checkout_confirm_payment_shipping %}
        <div class="confirm-payment-shipping">
            <div class="row">
                {% block page_checkout_confirm_payment %}
                    <div class="col-12 confirm-payment">
                        {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}
                    </div>
                {% endblock %}

                {% block page_checkout_confirm_shipping %}
                    <div class="col-12 confirm-shipping">
                        {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block page_checkout_confirm_tos %}
        {{ parent() }}
    {% endblock %}

    {% block page_checkout_confirm_product_table %}
        {{ parent() }}
    {% endblock %}

    {% block page_checkout_confirm_hidden_line_items_information %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
