{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    <div class="row">
        <div class="footer-contact footer-col col-md-4">
            <h4>Beratung & Kontakt</h4>
            <ul>
                <li>Audioblock GmbH</li>
                <li>Auf der Striepe 3a</li>
                <li>27798 Hude</li>
            </ul>
            <ul>
                <li><a href="mailto:block@audioblock.com">block@audioblock.com</a></li>
                <li><a href="tel:+49448492009010">+49 (0) 4484 - 920 090 17</a></li>
            </ul>
        </div>
        <div class="footer-customers-menu footer-col col-md-4">
            <h4>Kundeninfos</h4>
            <div class="two-col-menu-wrapper">
                <ul>
                    <li><a href="{{ path('frontend.account.home.page') }}">Mein Konto</a></li>
                    <li><a href="/Newsletter-Anmeldung/">Newsletter</a></li>
                    <li><a href="/Versandarten/">Versandarten</a></li>
                    <li><a href="/Zahlungsarten/">Zahlungsarten</a></li>
                    <li><a href="/Widerruf/">Widerruf</a></li>
                    <li><a href="/Garantie/">Garantie</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-legal-menu footer-col col-md-4">
            <h4>Rechtliches</h4>
            <ul>
                <li><a href="/AGB/">AGB</a></li>
                <li><a href="/Impressum/">Impressum</a></li>
                <li><a href="/Datenschutz/">Datenschutz</a></li>
                <li><a href="/Batteriegesetzhinweise/">Batteriegesetzhinweise</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="footer-zahlungsarten footer-col col-md-4">
            <h4>Zahlungsarten</h4>
            <ul>
                <li>
                    <a class="zahlungs-icon paypal" href="/Zahlungsarten/"></a>
                </li>
                <li>
                    <a class="zahlungs-icon klarna" href="/Zahlungsarten/"></a>
                </li>
                <li>
                    <a class="zahlungs-icon sofort" href="/Zahlungsarten/"></a>
                </li>
                <li>
                    <a class="zahlungs-icon kreditkarte" href="/Zahlungsarten/"></a>
                </li>
                <li>
                    <a class="zahlungs-icon master" href="/Zahlungsarten/"></a>
                </li>
                <li>
                    <a class="zahlungs-icon vorkasse" href="/Zahlungsarten/"></a>
                </li>
            </ul>
        </div>
        <div class="footer-versand footer-col col-md-4">
            <h4>Versand</h4>
            <img src="{{ asset('assets/img/dhl-go-green.png', '@Audioblock') }}">
        </div>
        <div class="footer-versandarten footer-col col-md-4">
            <h4>Versandarten</h4>
            <ul>
                <li><a href="/Versandarten/">Click & Deliver</a></li>
                <li><a href="/Versandarten/">Click & Collect</a></li>
                <li><a href="/Versandarten/">Standard-Versand (DHL)</a></li>
                <!--<li>
                    <a class="standard-lieferung" href="#"></a>
                </li>
                <li>
                    <a class="pickup-and-deliver" href="#"></a>
                </li>
                <li>
                    <a class="click-and-collect" href="#"></a>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="footer-socials footer-col col-lg-3">
            <div class="icons-wrapper">
                <a href="https://www.instagram.com/audioblock_official/?hl=de" target="_blank" class="social-icon-wrapper">
                    <div class="img-wrapper">
                        <img src="{{ asset('assets/img/instagram.svg', '@Audioblock') }}">
                    </div>
                </a>
                <a href="https://www.facebook.com/realaudioblock/" target="_blank" class="social-icon-wrapper">
                    <div class="img-wrapper">
                        <img src="{{ asset('assets/img/facebook.svg', '@Audioblock') }}">
                    </div>
                </a>
                <a href="https://www.youtube.com/channel/UCBMKc9P64fwsWM875fdb_7g" target="_blank" class="social-icon-wrapper youtube">
                    <div class="img-wrapper">
                        <img src="{{ asset('assets/img/youtube.svg', '@Audioblock') }}">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-logo-wrapper footer-col col-lg-6">
            <img src="{{ asset('assets/img/logo-audioblock-negativ.svg', '@Audioblock') }}">
        </div>
        <div class="footer-copyright footer-col col-lg-3">
            {% set startYear = 2020 %}
            {% set currentYear = now.year %}

            {% if startYear == currentYear %}
                {% set copyrightYears = startYear %}
            {% else %}
                {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
            {% endif %}

            <span>&copy; {{ copyrightYears }} Audioblock GmbH</span>
        </div>
    </div>
{% endblock %}

{% block layout_footer_vat %}

{% endblock %}

{% block layout_footer_copyright %}
    <div class="footer-copyright">

    </div>
{% endblock %}
