{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% set remoteClickOptions = {
    selector: "#review-tab",
    scrollToElement: true
} %}

{% set remoteClickOptions2 = {
    selector: "#tests-tab",
    scrollToElement: true
} %}


{% block page_product_detail_price %}
    <div class="headline-wrapper">
        {% if page.product.customFields.custom_tests_grafik_1 != "" %}

            <a data-toggle="tab"
               class="img-wrapper headline-wrapper-test"
               data-offcanvas-tabs="true"
               data-remote-click="true"
               data-remote-click-options='{{ remoteClickOptions2|json_encode }}'
               href="#tests-tab-desc"
               aria-controls="tests-tab-desc">
                {% set banner1Id = page.product.customFields.custom_tests_grafik_1 %}
                {% set mediaCollection = searchMedia([banner1Id], context.context) %}
                {% set banner1 = mediaCollection.get(banner1Id) %}
                <img src="{{ banner1.url }}" alt="" />
            </a>


        {% endif %}
        <h1 class="product-detail-name"
            itemprop="name">
            {{ page.product.translated.name }}
        </h1>
        {% if page.product.ratingAverage > 0 and shopware.config.core.listing.showReview %}
            <p class="product-detail-reviews">
                <a data-toggle="tab"
                   class="product-detail-reviews-link"
                   data-offcanvas-tabs="true"
                   data-remote-click="true"
                   data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                   href="#review-tab-pane"
                   aria-controls="review-tab-pane">
                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: page.product.ratingAverage,
                    style: 'text-primary'
                } %}
                </a>
                <a data-toggle="tab"
                   class="product-detail-reviews-link"
                   data-offcanvas-tabs="true"
                   data-remote-click="true"
                   data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                   href="#review-tab-pane"
                   aria-controls="review-tab-pane">
                    ({{ page.reviews.totalReviews }})

                </a>
            </p>
        {% endif %}
    </div>



    <div class="product-detail-price-container">
        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
    </div>
{% endblock %}

{% block page_product_detail_reviews %}
    <div class="product-detail-description-text"
         itemprop="description">
        {{ page.product.translated.description|raw }}
    </div>
{% endblock %}

{% block page_product_detail_ordernumber_container %}

{% endblock %}
