{% if merchant.cmsPage %}
    <div class="cms-page">
        {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': merchant.cmsPage} %}
    </div>
{% else %}
    <div class="row form-row">
        <div class="col">
            {% block element_moorl_merchant_finder_detail_description %}
                <div class="merchant-detail-content">
                    <h2>{{ merchant.company }}</h2>

                    {% if merchant.highlight %}
                        <p>Beratung & Service zählen zu den Stärken unserer First-Class Händler. Kommen Sie vorbei und lassen Sie sich kompetent über unsere Blockgeräte beraten.</p>
                        <img class="siegel-fachhaendler" src="{{ asset('assets/img/audioblock-first-class-siegel.png', '@Audioblock') }}" />
                    {% else %}
                        <p>Kommen Sie vorbei und lassen Sie sich kompetent über unsere Blockgeräte beraten.</p>
                    {% endif %}
                </div>
                <div class="merchant-detail-footer">
                    <div class="merchant-detail-footer-col">
                        <h4>Adresse</h4>
                        <ul>
                            <li>{{ merchant.company }}</li>
                            <li>{{ merchant.street }} {{ merchant.streetNumber }}</li>
                            <li>{{ merchant.zipcode }} {{ merchant.city }}</li>
                        </ul>
                    </div>
                    <div class="merchant-detail-footer-col">
                        {% if merchant.phoneNumber %}
                            <h4>Telefon</h4>
                            <ul>
                                <li>
                                    <a href="tel:{{ merchant.phoneNumber }}">{{ merchant.phoneNumber }}</a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if merchant.email %}
                            <h4>E-Mail</h4>
                            <ul>
                                <li><a href="mailto:{{ merchant.email }}">{{ merchant.email }}</a></li>
                            </ul>
                        {% endif %}
                        {% if merchant.merchantUrl %}
                            <h4>Homepage</h4>
                            <ul>
                                <li><a href="https://{{ merchant.merchantUrl }}" target="_blank">{{ merchant.merchantUrl }}</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="merchant-detail-footer-col">
                        {% if merchant.openingHours %}
                            <h4>Öffnungszeiten</h4>
                            <p>{{ merchant.openingHours | nl2br }}</p>
                        {% endif %}
                        <div class="img-wrapper">
                            <img class="siegel-fachhaendler" src="{{ asset('assets/img/logo-audioblock.svg', '@Audioblock') }}" />
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endif %}
